pandas
unidecode
pyyaml
orderedattrdict
typing
cookiecutter
Click
daff
sphinx_rtd_theme
sphinxcontrib-napoleon
recommonmark
tabulate
dask[dataframe]
hypothesis
pytest
pytest-cov
tqdm
ruamel.yaml
graphviz
