lxml
pandas
unidecode
pyyaml
orderedattrdict
typing
cookiecutter
Click
daff
sphinx_rtd_theme
sphinxcontrib-napoleon
recommonmark
tabulate
dask[dataframe]
hypothesis
pytest
pytest-cov
tqdm
ruamel.yaml
graphviz
coloredlogs
pytz
requests[security]
gitpython
hy
ipdb
attrs>=19.2.0
joblib
backports-datetime-fromisoformat
