lxml
pandas
unidecode
pyyaml
orderedattrdict
typing
cookiecutter
Click<7
daff
sphinx_rtd_theme
sphinxcontrib-napoleon
recommonmark
tabulate
dask[dataframe]
hypothesis
pytest
pytest-cov
tqdm
ruamel.yaml
graphviz
coloredlogs
pytz
requests
gitpython
hy
ipdb
attrs>18.1.0
joblib
lxml
